# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [3]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np
df_baltimore = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
df_boston = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
df_newyork = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
df_philadelphia = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [4]:
# Clean your data here!
print("######## Baltimore Missing Data #########")
print(df_baltimore.isna().sum())
print("######## Boston Missing Data #########")
print(df_boston.isna().sum())
print("######## New York Missing Data #########")
print(df_newyork.isna().sum())
print("######## Philadelphia Missing Data #########")
print(df_philadelphia.isna().sum())
print("######## Baltimore Duplicate Data #########")
print( df_baltimore.drop_duplicates())
print("######## Boston Dulpicate Data #########")
print(df_boston.drop_duplicates())
print("######## Newyork Dulpicate Data #########")
print(df_newyork.drop_duplicates())
print("######## Philadelphia Dulpicate Data #########")
print(df_philadelphia.drop_duplicates())
print("######## Unnecessary data #########")
df_baltimore_clean = df_baltimore.drop(columns= ['Type','Grade','Origin District','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode'])
df_boston_clean = df_boston.drop(columns= ['Type','Grade','Origin District','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode'])
df_newyork_clean = df_newyork.drop(columns= ['Type','Grade','Origin District','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode'])
df_philadelphia_clean = df_philadelphia.drop(columns= ['Type','Grade','Origin District','Environment','Quality','Condition','Appearance','Storage','Crop','Trans Mode'])
print("############# Irregualr data ###########")
df_baltimore_clean.describe()
df_boston_clean.describe()
df_newyork_clean.describe()
df_philadelphia_clean.describe()

######## Baltimore Missing Data #########
Commodity Name       0
City Name            0
Type               153
Package              0
Variety              2
Sub Variety        128
Grade              153
Date                 0
Low Price            0
High Price           0
Mostly Low           0
Mostly High          0
Origin               5
Origin District    153
Item Size           25
Color              122
Environment        153
Unit of Sale       129
Quality            153
Condition          153
Appearance         153
Storage            153
Crop               153
Repack               0
Trans Mode         153
dtype: int64
######## Boston Missing Data #########
Commodity Name       0
City Name            0
Type               352
Package              0
Variety              0
Sub Variety        324
Grade              352
Date                 0
Low Price            0
High Price           0
Mostly Low           0
Mostly High          0
Origin               0
Origin District    286
Item Size            4
Color               48
Environment        352
Unit of Sale       306
Quality            352
Condition          352
Appearance         352
Storage            352
Crop               352
Repack               0
Trans Mode         352
dtype: int64
######## New York Missing Data #########
Commodity Name       0
City Name            0
Type               112
Package              0
Variety              0
Sub Variety         94
Grade              112
Date                 0
Low Price            0
High Price           0
Mostly Low           0
Mostly High          0
Origin               0
Origin District     97
Item Size            8
Color               91
Environment        112
Unit of Sale        87
Quality            112
Condition          112
Appearance         112
Storage            112
Crop               112
Repack               0
Trans Mode         112
dtype: int64
######## Philadelphia Missing Data #########
Commodity Name      0
City Name           0
Type               57
Package             0
Variety             0
Sub Variety        45
Grade              57
Date                0
Low Price           0
High Price          0
Mostly Low          0
Mostly High         0
Origin              0
Origin District    57
Item Size          12
Color              57
Environment        57
Unit of Sale       46
Quality            57
Condition          57
Appearance         57
Storage            57
Crop               57
Repack              0
Trans Mode         57
dtype: int64
######## Baltimore Duplicate Data #########
    Commodity Name  City Name  Type             Package      Variety  \
0         PUMPKINS  BALTIMORE   NaN        24 inch bins          NaN
1         PUMPKINS  BALTIMORE   NaN        24 inch bins          NaN
2         PUMPKINS  BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
3         PUMPKINS  BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
4         PUMPKINS  BALTIMORE   NaN        24 inch bins  HOWDEN TYPE
..             ...        ...   ...                 ...          ...
148       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
149       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
150       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
151       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE
152       PUMPKINS  BALTIMORE   NaN  1/2 bushel cartons    MINIATURE

    Sub Variety  Grade        Date  Low Price  High Price  ...   Color  \
0           NaN    NaN  04/29/2017        270       280.0  ...     NaN
1           NaN    NaN  05/06/2017        270       280.0  ...     NaN
2           NaN    NaN  09/24/2016        160       160.0  ...     NaN
3           NaN    NaN  09/24/2016        160       160.0  ...     NaN
4           NaN    NaN  11/05/2016         90       100.0  ...     NaN
..          ...    ...         ...        ...         ...  ...     ...
148         NaN    NaN  09/30/2017         18        18.0  ...  ORANGE
149         NaN    NaN  09/30/2017         18        18.0  ...  ORANGE
150  ROUND TYPE    NaN  09/24/2016         15        15.0  ...     NaN
151  ROUND TYPE    NaN  10/01/2016         15        15.0  ...     NaN
152  ROUND TYPE    NaN  10/08/2016         15        15.0  ...     NaN

     Environment Unit of Sale  Quality Condition Appearance  Storage Crop  \
0            NaN          NaN      NaN       NaN        NaN      NaN  NaN
1            NaN          NaN      NaN       NaN        NaN      NaN  NaN
2            NaN          NaN      NaN       NaN        NaN      NaN  NaN
3            NaN          NaN      NaN       NaN        NaN      NaN  NaN
4            NaN          NaN      NaN       NaN        NaN      NaN  NaN
..           ...          ...      ...       ...        ...      ...  ...
148          NaN          NaN      NaN       NaN        NaN      NaN  NaN
149          NaN          NaN      NaN       NaN        NaN      NaN  NaN
150          NaN          NaN      NaN       NaN        NaN      NaN  NaN
151          NaN          NaN      NaN       NaN        NaN      NaN  NaN
152          NaN          NaN      NaN       NaN        NaN      NaN  NaN

     Repack  Trans Mode
0         E         NaN
1         E         NaN
2         N         NaN
3         N         NaN
4         N         NaN
..      ...         ...
148       N         NaN
149       N         NaN
150       N         NaN
151       N         NaN
152       N         NaN

[153 rows x 25 columns]
######## Boston Dulpicate Data #########
    Commodity Name City Name  Type             Package      Variety  \
0         PUMPKINS    BOSTON   NaN        36 inch bins  HOWDEN TYPE
1         PUMPKINS    BOSTON   NaN        36 inch bins  HOWDEN TYPE
2         PUMPKINS    BOSTON   NaN        36 inch bins  HOWDEN TYPE
3         PUMPKINS    BOSTON   NaN        36 inch bins  HOWDEN TYPE
4         PUMPKINS    BOSTON   NaN        36 inch bins  HOWDEN TYPE
..             ...       ...   ...                 ...          ...
347       PUMPKINS    BOSTON   NaN  1/2 bushel cartons    MINIATURE
348       PUMPKINS    BOSTON   NaN  1/2 bushel cartons    MINIATURE
349       PUMPKINS    BOSTON   NaN  1/2 bushel cartons    MINIATURE
350       PUMPKINS    BOSTON   NaN  1/2 bushel cartons    MINIATURE
351       PUMPKINS    BOSTON   NaN  1/2 bushel cartons    MINIATURE

    Sub Variety  Grade        Date  Low Price  High Price  ...   Color  \
0           NaN    NaN  09/24/2016        160         200  ...  ORANGE
1           NaN    NaN  09/24/2016        160         200  ...  ORANGE
2           NaN    NaN  09/24/2016        160         200  ...  ORANGE
3           NaN    NaN  09/24/2016        160         200  ...  ORANGE
4           NaN    NaN  09/24/2016        160         180  ...  ORANGE
..          ...    ...         ...        ...         ...  ...     ...
347  ROUND TYPE    NaN  10/22/2016         15          18  ...  ORANGE
348  ROUND TYPE    NaN  10/29/2016         15          18  ...   WHITE
349  ROUND TYPE    NaN  10/29/2016         15          18  ...  ORANGE
350  ROUND TYPE    NaN  11/05/2016         15          18  ...   WHITE
351  ROUND TYPE    NaN  11/05/2016         15          18  ...  ORANGE

     Environment Unit of Sale Quality Condition Appearance  Storage Crop  \
0            NaN          NaN     NaN       NaN        NaN      NaN  NaN
1            NaN          NaN     NaN       NaN        NaN      NaN  NaN
2            NaN          NaN     NaN       NaN        NaN      NaN  NaN
3            NaN          NaN     NaN       NaN        NaN      NaN  NaN
4            NaN          NaN     NaN       NaN        NaN      NaN  NaN
..           ...          ...     ...       ...        ...      ...  ...
347          NaN          NaN     NaN       NaN        NaN      NaN  NaN
348          NaN          NaN     NaN       NaN        NaN      NaN  NaN
349          NaN          NaN     NaN       NaN        NaN      NaN  NaN
350          NaN          NaN     NaN       NaN        NaN      NaN  NaN
351          NaN          NaN     NaN       NaN        NaN      NaN  NaN

     Repack  Trans Mode
0         N         NaN
1         N         NaN
2         N         NaN
3         N         NaN
4         N         NaN
..      ...         ...
347       N         NaN
348       N         NaN
349       N         NaN
350       N         NaN
351       N         NaN

[352 rows x 25 columns]
######## Newyork Dulpicate Data #########
    Commodity Name City Name  Type              Package      Variety  \
0         PUMPKINS  NEW YORK   NaN         36 inch bins  HOWDEN TYPE
1         PUMPKINS  NEW YORK   NaN         36 inch bins  HOWDEN TYPE
2         PUMPKINS  NEW YORK   NaN         36 inch bins  HOWDEN TYPE
3         PUMPKINS  NEW YORK   NaN         36 inch bins  HOWDEN TYPE
4         PUMPKINS  NEW YORK   NaN         36 inch bins  HOWDEN TYPE
..             ...       ...   ...                  ...          ...
107       PUMPKINS  NEW YORK   NaN       bushel cartons    MINIATURE
108       PUMPKINS  NEW YORK   NaN  1 1/9 bushel crates    MINIATURE
109       PUMPKINS  NEW YORK   NaN  1 1/9 bushel crates    MINIATURE
110       PUMPKINS  NEW YORK   NaN  1 1/9 bushel crates    MINIATURE
111       PUMPKINS  NEW YORK   NaN  1 1/9 bushel crates    MINIATURE

    Sub Variety  Grade        Date  Low Price  High Price  ...  Color  \
0           NaN    NaN  09/24/2016        150         170  ...    NaN
1           NaN    NaN  09/24/2016        150         170  ...    NaN
2           NaN    NaN  09/24/2016        130         150  ...    NaN
3           NaN    NaN  09/24/2016        130         150  ...    NaN
4           NaN    NaN  09/24/2016        120         140  ...    NaN
..          ...    ...         ...        ...         ...  ...    ...
107         NaN    NaN  09/09/2017         32          32  ...    NaN
108  ROUND TYPE    NaN  10/08/2016         18          18  ...    NaN
109  ROUND TYPE    NaN  10/08/2016         18          18  ...    NaN
110  ROUND TYPE    NaN  10/15/2016         18          18  ...    NaN
111  ROUND TYPE    NaN  10/15/2016         18          18  ...    NaN

     Environment Unit of Sale Quality Condition Appearance  Storage Crop  \
0            NaN          NaN     NaN       NaN        NaN      NaN  NaN
1            NaN          NaN     NaN       NaN        NaN      NaN  NaN
2            NaN          NaN     NaN       NaN        NaN      NaN  NaN
3            NaN          NaN     NaN       NaN        NaN      NaN  NaN
4            NaN          NaN     NaN       NaN        NaN      NaN  NaN
..           ...          ...     ...       ...        ...      ...  ...
107          NaN          NaN     NaN       NaN        NaN      NaN  NaN
108          NaN          NaN     NaN       NaN        NaN      NaN  NaN
109          NaN          NaN     NaN       NaN        NaN      NaN  NaN
110          NaN          NaN     NaN       NaN        NaN      NaN  NaN
111          NaN          NaN     NaN       NaN        NaN      NaN  NaN

     Repack  Trans Mode
0         N         NaN
1         N         NaN
2         N         NaN
3         N         NaN
4         N         NaN
..      ...         ...
107       N         NaN
108       N         NaN
109       N         NaN
110       N         NaN
111       N         NaN

[112 rows x 25 columns]
######## Philadelphia Dulpicate Data #########
   Commodity Name     City Name  Type               Package       Variety  \
0        PUMPKINS  PHILADELPHIA   NaN          24 inch bins   HOWDEN TYPE
1        PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
2        PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
3        PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
4        PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
5        PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
6        PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
7        PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
8        PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
9        PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
10       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
11       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
12       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
13       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
14       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
15       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
16       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
17       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
18       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
19       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
20       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
21       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
22       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
23       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
24       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
25       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
26       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
27       PUMPKINS  PHILADELPHIA   NaN          36 inch bins   HOWDEN TYPE
28       PUMPKINS  PHILADELPHIA   NaN  1 1/9 bushel cartons      PIE TYPE
29       PUMPKINS  PHILADELPHIA   NaN  1 1/9 bushel cartons      PIE TYPE
30       PUMPKINS  PHILADELPHIA   NaN  1 1/9 bushel cartons      PIE TYPE
31       PUMPKINS  PHILADELPHIA   NaN  1 1/9 bushel cartons      PIE TYPE
32       PUMPKINS  PHILADELPHIA   NaN  1 1/9 bushel cartons      PIE TYPE
33       PUMPKINS  PHILADELPHIA   NaN  1 1/9 bushel cartons      PIE TYPE
34       PUMPKINS  PHILADELPHIA   NaN          24 inch bins      PIE TYPE
35       PUMPKINS  PHILADELPHIA   NaN          24 inch bins      PIE TYPE
36       PUMPKINS  PHILADELPHIA   NaN          24 inch bins      PIE TYPE
37       PUMPKINS  PHILADELPHIA   NaN          24 inch bins      PIE TYPE
38       PUMPKINS  PHILADELPHIA   NaN          24 inch bins      PIE TYPE
39       PUMPKINS  PHILADELPHIA   NaN          24 inch bins      PIE TYPE
40       PUMPKINS  PHILADELPHIA   NaN          24 inch bins      PIE TYPE
41       PUMPKINS  PHILADELPHIA   NaN          24 inch bins      PIE TYPE
42       PUMPKINS  PHILADELPHIA   NaN          24 inch bins      PIE TYPE
43       PUMPKINS  PHILADELPHIA   NaN          24 inch bins      PIE TYPE
44       PUMPKINS  PHILADELPHIA   NaN          24 inch bins  KNUCKLE HEAD
45       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE
46       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE
47       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE
48       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE
49       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE
50       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE
51       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE
52       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE
53       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE
54       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE
55       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE
56       PUMPKINS  PHILADELPHIA   NaN    1/2 bushel cartons     MINIATURE

   Sub Variety  Grade        Date  Low Price  High Price  ...  Color  \
0          NaN    NaN  09/16/2017        140         150  ...    NaN
1          NaN    NaN  09/24/2016        150         150  ...    NaN
2          NaN    NaN  09/24/2016        150         150  ...    NaN
3          NaN    NaN  09/24/2016        150         160  ...    NaN
4          NaN    NaN  10/01/2016        140         140  ...    NaN
5          NaN    NaN  10/01/2016        140         140  ...    NaN
6          NaN    NaN  10/01/2016        120         120  ...    NaN
7          NaN    NaN  10/08/2016        140         155  ...    NaN
8          NaN    NaN  10/08/2016        120         120  ...    NaN
9          NaN    NaN  10/15/2016        120         125  ...    NaN
10         NaN    NaN  10/15/2016        100         125  ...    NaN
11         NaN    NaN  10/22/2016        130         140  ...    NaN
12         NaN    NaN  10/22/2016        120         120  ...    NaN
13         NaN    NaN  10/22/2016        130         140  ...    NaN
14         NaN    NaN  10/22/2016        100         120  ...    NaN
15         NaN    NaN  10/29/2016        130         140  ...    NaN
16         NaN    NaN  10/29/2016        120         120  ...    NaN
17         NaN    NaN  10/29/2016        130         140  ...    NaN
18         NaN    NaN  10/29/2016        100         120  ...    NaN
19         NaN    NaN  09/16/2017        120         120  ...    NaN
20         NaN    NaN  09/16/2017        120         150  ...    NaN
21         NaN    NaN  09/23/2017        140         140  ...    NaN
22         NaN    NaN  09/23/2017        150         150  ...    NaN
23         NaN    NaN  09/23/2017        120         150  ...    NaN
24         NaN    NaN  09/23/2017        140         150  ...    NaN
25         NaN    NaN  09/23/2017        140         150  ...    NaN
26         NaN    NaN  09/30/2017        140         140  ...    NaN
27         NaN    NaN  09/30/2017        140         140  ...    NaN
28         NaN    NaN  10/15/2016         12          14  ...    NaN
29         NaN    NaN  10/22/2016         12          12  ...    NaN
30         NaN    NaN  10/29/2016         12          12  ...    NaN
31         NaN    NaN  08/26/2017         18          20  ...    NaN
32         NaN    NaN  09/16/2017         18          18  ...    NaN
33         NaN    NaN  09/23/2017         18          22  ...    NaN
34         NaN    NaN  10/01/2016        250         250  ...    NaN
35         NaN    NaN  10/15/2016        140         140  ...    NaN
36         NaN    NaN  10/22/2016        140         150  ...    NaN
37         NaN    NaN  10/22/2016         75         100  ...    NaN
38         NaN    NaN  10/29/2016        140         150  ...    NaN
39         NaN    NaN  10/29/2016         75         100  ...    NaN
40         NaN    NaN  09/23/2017        180         180  ...    NaN
41         NaN    NaN  09/23/2017        140         140  ...    NaN
42         NaN    NaN  09/23/2017        180         180  ...    NaN
43         NaN    NaN  09/30/2017        140         140  ...    NaN
44         NaN    NaN  10/08/2016        210         210  ...    NaN
45   FLAT TYPE    NaN  09/24/2016         17          18  ...    NaN
46   FLAT TYPE    NaN  10/01/2016         18          18  ...    NaN
47   FLAT TYPE    NaN  10/01/2016         17          18  ...    NaN
48   FLAT TYPE    NaN  10/08/2016         15          15  ...    NaN
49   FLAT TYPE    NaN  10/15/2016         15          18  ...    NaN
50   FLAT TYPE    NaN  10/22/2016         16          18  ...    NaN
51   FLAT TYPE    NaN  10/29/2016         16          18  ...    NaN
52   FLAT TYPE    NaN  11/05/2016         16          18  ...    NaN
53   FLAT TYPE    NaN  08/26/2017         18          20  ...    NaN
54   FLAT TYPE    NaN  09/16/2017         16          16  ...    NaN
55   FLAT TYPE    NaN  09/23/2017         15          16  ...    NaN
56   FLAT TYPE    NaN  09/30/2017         15          18  ...    NaN

    Environment Unit of Sale  Quality Condition  Appearance  Storage Crop  \
0           NaN          NaN      NaN       NaN         NaN      NaN  NaN
1           NaN          NaN      NaN       NaN         NaN      NaN  NaN
2           NaN          NaN      NaN       NaN         NaN      NaN  NaN
3           NaN          NaN      NaN       NaN         NaN      NaN  NaN

        Low Price  High Price  Mostly Low  Mostly High  Color
count   57.000000   57.000000   57.000000    57.000000    0.0
mean    98.140351  103.754386   98.491228   103.754386    NaN
std     62.020572   63.399606   62.087819    63.399606    NaN
min     12.000000   12.000000   12.000000    12.000000    NaN
25%     18.000000   18.000000   18.000000    18.000000    NaN
50%    120.000000  125.000000  120.000000   125.000000    NaN
75%    140.000000  150.000000  140.000000   150.000000    NaN
max    250.000000  250.000000  250.000000   250.000000    NaN

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [5]:
# Combine the four dataframes into one!
northeast_region_df = pd.concat([df_baltimore_clean,df_boston_clean,df_newyork_clean,df_philadelphia_clean],axis=0, ignore_index=True)
northeast_region_df

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,NaN,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,NaN,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,med,NaN,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,NaN,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,11/05/2016,16,18.0,16,18.0,OHIO,NaN,NaN,SHELLACKED,N
670,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,NaN,SHELLACKED,N
671,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/16/2017,16,16.0,16,16.0,OHIO,NaN,NaN,SHELLACKED,N
672,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/23/2017,15,16.0,15,16.0,OHIO,NaN,NaN,SHELLACKED,N
673,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/30/2017,15,18.0,15,18.0,OHIO,NaN,NaN,SHELLACKED,N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [6]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
northeast_region_unitofsale = northeast_region_df.groupby(["Unit of Sale"]).agg({'Low Price': ['mean'], 'High Price': ['mean']})
northeast_region_unitofsale

               Low Price  High Price
                    mean        mean
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [14]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
northeast_region_variety = northeast_region_df.groupby(['City Name','Variety'])['Variety'].count()
northeast_region_variety

City Name     Variety
BALTIMORE     BIG MACK TYPE                24
              CINDERELLA                   25
              FAIRYTALE                    16
              HOWDEN TYPE                  25
              HOWDEN WHITE TYPE             2
              MINIATURE                    30
              MIXED HEIRLOOM VARIETIES      3
              PIE TYPE                     26
BOSTON        BIG MACK TYPE                29
              BLUE TYPE                     7
              CINDERELLA                   14
              FAIRYTALE                    21
              HOWDEN TYPE                 132
              KNUCKLE HEAD                  7
              MINIATURE                    28
              PIE TYPE                    114
NEW YORK      BIG MACK TYPE                 2
              HOWDEN TYPE                  39
              KNUCKLE HEAD                  1
              MINIATURE                    27
              MIXED HEIRLOOM VARIETIES      1
              PIE TYPE                     42
PHILADELPHIA  HOWDEN TYPE                  28
              KNUCKLE HEAD                  1
              MINIATURE                    12
              PIE TYPE                     16
Name: Variety, dtype: int64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!